/* real magic comes here */
.mdl-chipfield {
  width: 100%;
}
.mdl-chipfield input {
  float: left;
  width: auto;
}
.mdl-chipfield .mdl-chip {
  float: left;
  margin-right: 5px;
}
.mdl-chipfield .original {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.mdl-chipfield .mdl-textfield__label {
  top: 0;
}
.mdl-chipfield .mdl-textfield__label::after {
  bottom: 0;
}