.mdl-chipfield {
  cursor: text;
  padding-bottom: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;

  .inputs {
    margin-left: 5px;
    float: left;
    position: relative;
  }

  .mdl-chip {
    float: left;
    margin-right: 5px;
  }

  .mdl-textfield__input {
    // ~ same height as the chips + 2*4 for the padding
    height: 38px;
    border-bottom: none;
  }

  .mdl-textfield__label {
    top: 8px;
  }

  &:after {
    /* TODO: without integration into MDL this has to be changed to your primary color */
    background-color: rgb(0, 101, 189);
    bottom: -1px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px;
  }

  &.is-focused:after {
    visibility: visible;
    left: 0;
    width: 100%;
  }

  // hide stuff from MaterialTextField
  .mdl-textfield__label:after {
    display: none;
  }

  // search results
  .results {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0;
    margin-top: 1px;
  }

  .results li {
    cursor: pointer;
    padding: 10px 5px 10px 10px;

    &:hover, &.is-selected {
      background-color: rgb(238, 238, 238);
    }
  }

}
