.mdl-chipfield {
  width: 100%;

  .mdl-chip {
    float: left;
    margin: 2px 3px;
  }

  .original {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }

  .mdl-textfield__label {
    top: 0;
  }
  .mdl-textfield__label::after {
    bottom: 0;
  }

  // search results
  .results {
    width: 100%;
    list-style: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0 5px;
  }
}
